
/* ### -- -- -- -- -- Global Theme Styles -- -- -- -- -- ### */

/*

File: global.css 
Copyright 2009-2011 by wcfsolutions.com

*/

/* ### -- -- -- -- -- Some global resets / defaults  -- -- -- -- -- ### */

body, textarea {
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
	font-size: 0.8em;
}

body, html {
	margin: 0 !important;
	padding: 0 !important;
}

p {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	padding: 0;
	margin: 1px 0 12px 0;
}

select, textarea {
	font-size: 0.85em;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

pre {
	font-family: "Courier New", Courier, monospace !important;
}

img {
	vertical-align: middle;
	border: 0;
}

hr {
	display: none;
}

a {
	color: #000;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* ### -- -- -- -- -- Miscellaneous -- -- -- -- -- ### */

.hidden { /* Moves elements out of the viewport in an accessible way and preserves no space for them. Use this class rather than "display: none"! */
	height: 0;
	overflow: hidden;
	position: absolute;
	left: -9000px;
	max-width: 8000px;
}

.dragable * {
	cursor: move;
}

.loading {
	background-color: #fff;
	background-image: url("../images/spinner.gif");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	min-height: 80px;
	opacity: .5;	
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
